---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v7.32.0
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint-config-standard
exclude: |
  (?x)^(
    (.*/)*\.pnp\.cjs|
    \.yarn\/cache\/.+
  )$
